# ModusToolbox library repos or information about library dependencies
libs/

# Ignore shared repo
mtb_shared/

# Uncomment below line if you don't want to lock the library versions for your application
assetlocks.json

# ModusToolbox Configurator generated code and lock file
GeneratedSource/
*.lock
.mtbqueryapi

# ModusToolbox BSP files. Any custom BSP file for code examples is shipped within the 'templates' folder
bsps/

# ModusToolbox build system output
build/
Debug/
Release/
*_build/

# Ninja build artefacts
.ninja_*

# Visual Studio Code
openocd.tcl
.vscode/
*.code-workspace

# Compiled Binaries
*.o
*.bin
*.elf
*.hex
*.map

# Trash files
*.bak

# Library manager log
library-manager.log

.clangd
/baseline SW implementation/CMakeLists.txt
